@font-face {
  font-family: "Hachimaki-EawZ8";
  src: url("../src/fonts/Hachimaki-EawZ8.otf") format("opentype");
}

@media (orientation: landscape){
    .home-page-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        /* padding-top: 12vh; */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
      }
      
      .image-gallery-container {
        width: 100%;
        height: 100vh; 
        overflow: hidden;
      }
      
      .image-gallery-slide {
        width: 100vw; 
        height: 100vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; 
      }
      
      .full-screen-image {
        width: 100%;
        height: 100%;
        transition: transform 5s ease; /* Example transition effect */
        object-fit: cover; /* Ensure the image covers the container */
      }
      .welcome-section{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
      }
      .anakuma-welcome{
        border-top: 0.35vh solid black;
        border-bottom: 0.35vh solid black;
        width: 100%;
        height: 20vh;
        background-image: url("/Images/proto.png");
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
      }
      .anakuma-title{
        font-size: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.2vw;
        color: #000000;
        font-family: "Hachimaki-EawZ8";
        /* text-shadow: -0.1px -0.1px 0 #000, 0.1px -0.5px 0 #000, -0.1px 0.1px 0 #000,
        0.1px 0.1px 0 #000; */
        font-style: italic;
      }
      .badger-container{
        height: 100%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .badger-logo{
        height: 60%;
      }
}
@media (orientation: portrait) {
    .home-page-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
      }
      
      .image-gallery-container {
        width: 100%;
        height: 84vh; 
        overflow: hidden;
      }
      
      .image-gallery-slide {
        width: 100vw; 
        height: 84vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; 
      }
      
      .full-screen-image {
        width: 100%;
        height: 100%;
        transition: transform 5s ease; /* Example transition effect */
        object-fit: cover; /* Ensure the image covers the container */
      }
}